@font-face {
  font-family: 'Bitter';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://static-fonts.strikinglycdn.com/s/bitter/v40/raxjHiqOu8IVPmn7epZnDMyKBvHf5D6c4Pz-UXB3.ttf) format('truetype');
}
@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://static-fonts.strikinglycdn.com/s/bitter/v40/raxhHiqOu8IVPmnRc6SY1KXhnF_Y8fbfOLbOWA.ttf) format('truetype');
}
@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://static-fonts.strikinglycdn.com/s/bitter/v40/raxhHiqOu8IVPmnRc6SY1KXhnF_Y8RHYOLbOWA.ttf) format('truetype');
}
@font-face {
  font-family: 'Caladea';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://static-fonts.strikinglycdn.com/s/caladea/v8/kJExBugZ7AAjhybUvR1N9voy.ttf) format('truetype');
}
@font-face {
  font-family: 'Caladea';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://static-fonts.strikinglycdn.com/s/caladea/v8/kJE0BugZ7AAjhybUvR1FQ98ipcZ3.ttf) format('truetype');
}
@font-face {
  font-family: 'Caladea';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://static-fonts.strikinglycdn.com/s/caladea/v8/kJEzBugZ7AAjhybUvRZ9_w.ttf) format('truetype');
}
@font-face {
  font-family: 'Caladea';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://static-fonts.strikinglycdn.com/s/caladea/v8/kJE2BugZ7AAjhybUtaNY79MSrA.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://static-fonts.strikinglycdn.com/s/montserrat/v31/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw3aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://static-fonts.strikinglycdn.com/s/montserrat/v31/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM73w3aX8.ttf) format('truetype');
}
